@import "./tiles.scss";
@import "./scrollbar";

/* BOOTSTRAP OVERRIDES */
@font-face {
    font-family: "Fira-Mono";
    src: url("../assets/fonts/FiraMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: monospace;
}
:root {
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --main-fg: #c4c4c4;
    --main-bg: #252525;

    --hover-fg: #dddddd;
    --hover-bg: #434343;

    --accent-bg: #4d0044;
    --accent-fg: #aeaeae;

    --feather-size: 16px;

    --sidebar-width: 15vw;

    --sidebar-toggle-padding: 1vw;
    --sidebar-toggle-margin: 1.5vw;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, system-ui, "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem;
    overflow: hidden;

    color: var(--main-fg);
    background-color: var(--main-bg);
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#sidebar {
    width: var(--sidebar-width);
    max-width: var(--sidebar-width);
    min-width: var(--sidebar-width);
    height: 100%;
    display: flex;
    flex-direction: column;

    border-right: 0.2vw solid var(--main-fg);

    &.hidden {
        display: none;

        // move toggle button to edge (toggle button MUST be the next element in html)
        & + #sidebar-toggle {
            left: 0;
        }
    }
}

#sidebar-toggle {
    color: var(--main-fg);
    position: absolute;
    bottom: 0;
    left: var(--sidebar-width);
    padding: var(--sidebar-toggle-padding);
    border: 0.2vh solid var(--main-fg);
    margin: var(--sidebar-toggle-margin);
    z-index: 999;

    &:hover {
        color: var(--hover-fg);
        background-color: var(--hover-bg);
        cursor: pointer;
    }
}

.sidebar-section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;

    &:not(:last-child):after {
        content: "";
        border-top: 0.2vh solid var(--main-fg);
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}

.sidebar-item {
    position: relative;
    display: block;
    padding: 0.75rem 0.3rem 0.75rem 0.5rem;
    color: var(--main-fg);
    background-color: var(--main-bg);
    border: 1px solid rgba(0, 0, 0, 0.125);

    // make ellipsis instead of newline or clipping text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span:not(:last-child) {
        margin-right: 5px;
    }
}

.sidebar-link {
    &.active {
        color: var(--accent-fg);
        background-color: var(--accent-bg);
    }

    &:hover {
        color: var(--hover-fg);
        background-color: var(--hover-bg);
        cursor: pointer;
    }
}

#content {
    flex-grow: 1;
    margin: 1vw;
    margin-left: calc(var(--sidebar-toggle-padding) * 2 + var(--sidebar-toggle-margin) * 2 + var(--feather-size));
    margin-right: calc(var(--sidebar-toggle-padding) * 2 + var(--sidebar-toggle-margin) * 2 + var(--feather-size));
    overflow: auto;
    padding-bottom: 10vh;
}



.feather {
    width: var(--feather-size);
    height: var(--feather-size);
    vertical-align: -3px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
.codeSnippet {
    background-color: #282c34;
    color: #abb2bf;
    padding: 0.5em;
    border: 1px solid #00000030;
    border-radius: 5px;
    font-family: SFMono-Regular, Consolas, "Fira-Mono", monospace;
    min-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    white-space: var(--code-white-space);
    font-size: 14px;
    line-height: 1.5;
    position: static;
    .snippetCollapser {
        display: none;
    }
    &:hover {
        .snippetCollapser {
            display: inline;
        }
    }
    &::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(
            var(--code-scrollbar-color),
            var(--code-scrollbar-color),
            var(--code-scrollbar-color),
            var(--code-scrollbar-opacity)
        );
        border: 4px solid rgba(0, 0, 0, 0);
        background-clip: padding-box;
        &:hover {
            background-color: rgba(
                var(--code-scrollbar-color),
                var(--code-scrollbar-color),
                var(--code-scrollbar-color),
                calc(var(--code-scrollbar-opacity) + 0.2)
            );
        }
    }
}
.inline-code {
    font-size: 13px;
    font-weight: 600;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
    border: 1px solid #00000030;
    border-radius: 4px;
    font-family: SFMono-Regular, Consolas, "Fira-Mono", monospace;
    word-wrap: break-word;
    display: inline !important;
    background: white;
    color: #333333;
}

//
::marker {
    font-weight: 600;
}

